@import '../../../styles/variaveis/cores';
@import '../../../styles/variaveis/telas';

@media only screen and (max-width: $mobile-max-width) and (min-width: $mobile-min-width)  {
  .container-mobile {
    border: 0px solid blue;
  }
  .conteudo-carta {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  .d-flex {
    justify-content: space-around;
  }
}
  @media only screen and (max-width: $desktop-max-width) and (min-width: $desktop-min-width)  {
    .caixa {
      display: flex;
      justify-content: center;
      width: 1100px;
      box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.2);
    }
    .tamanho-cartas {
      width: 175px;
      height: 270px;
    }
    .cartas-grid {
      padding: 5px;
    }
    .grid {
      display: flex;
      max-width: 980px;
      flex-wrap: wrap;
    }
    span > p {
      font-size: 12px;
      margin-top: 0;
    }
    .jc {
      display: flex;
      justify-content: space-around;
    }
  }
