
@media screen and (max-width: 360px) {

  .container-mobile {
    border: 0px solid blue;
  }
  .conteudo-carta {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  .d-flex {
    justify-content: space-around;
  }
}
